<script>
  import { exampleStore } from "../store";

  let title = 'Example';

  let storeValue;
  // Check store to verify admin role.
  exampleStore.subscribe(
    value => {
      storeValue = value;
    }
  );
</script>

<style>
</style>

<div class="hero hero-sm bg-primary">
  <div class="hero-body text-center">
    <h1>{title} Page</h1>
    <p>Store value set: {storeValue}</p>
  </div>
</div>