<script>
  import { onMount } from "svelte";
  import { exampleStore } from "../store";

  let title = 'Home';

  /**
   * Component mount lifecycle.
   */
  onMount(async () => {
    exampleStore.set(true);
  });
</script>

<style>
</style>

<div class="hero hero-sm bg-dark">
  <div class="hero-body text-center">
    <h1>{title} Page</h1>
    <p>This is a hero example</p>
  </div>
</div>