<script>
  export let author;
  export let containerSize;
  const currentYear = new Date().getFullYear();
</script>

<style>
</style>

<footer>
  <div class={`container grid-${containerSize}`}>
    <div class="columns">
      <div class="column col-12 text-center">
        <small>{author} &copy; {currentYear}</small>
      </div>
    </div>
  </div>
</footer>