<script>
  import { Router, link } from "svelte-routing";
  import { onMount } from "svelte";

  export let author;
  export let containerSize;

  /**
   * Component mount lifecycle.
   */
  onMount(async () => {
    
  });
</script>

<style>
</style>

<header>
  <div class={`container grid-${containerSize}`}>
    <div class="columns">
      <div class="column col-12">
        <Router>
          <nav class="navbar">
            <section class="navbar-section">
              <a href="/" use:link class="navbar-brand mr-2">Logo</a>
            </section>
            <section class="navbar-section">
              <a href="/" use:link class="btn btn-link">Home</a>
              <a href="/example" use:link class="btn btn-link">Page 2</a>
            </section>
            <section class="navbar-section">
              <!-- basic dropdown button -->
              <div class="dropdown dropdown-right">
                <a href="#" class="btn btn-link dropdown-toggle badge" data-badge="8" tabindex="0">
                  Hi, {author} <i class="icon icon-caret"></i>
                </a>
                <!-- menu component -->
                <ul class="menu">
                  <li class="menu-item">
                    <div class="tile tile-centered">
                      <div class="tile-icon"><img class="avatar" src="" alt="Avatar"></div>
                      <div class="tile-content">{author}</div>
                    </div>
                  </li>
                  <li class="divider"></li>
                  <li class="menu-item"><a class="active" href="#menus">My profile</a>
                    <div class="menu-badge">
                      <label class="form-checkbox">
                        <input type="checkbox"><i class="form-icon"></i>Public
                      </label>
                    </div>
                  </li>
                  <li class="menu-item"><a href="#menus">Settings</a>
                    <div class="menu-badge">
                      <label class="label label-primary">2</label>
                    </div>
                  </li>
                  <li class="menu-item"><a href="#menus">Logout</a></li>
                </ul>
              </div>
            </section>
          </nav>
        </Router>
      </div>
    </div>
  </div>
</header>