<script>
  import { Router, Route } from "svelte-routing";
  import Home from "../Home.svelte";
  import Example from "../Example.svelte";

  export let containerSize;
</script>

<style>
</style>

<main>
  <div class={`container grid-${containerSize}`}>
    <div class="columns">
      <div class="column col-12">
        <Router>
          <Route path="example">
            <Example />
          </Route>
          <Route path="/">
            <Home />
          </Route>
          <Route path="*">
            <Home />
          </Route>
        </Router>
      </div>
    </div>
  </div>
</main>