<script>
	import Header from './containers/templates/Header.svelte';
	import Main from './containers/templates/Main.svelte';
	import Footer from './containers/templates/Footer.svelte';

	export let name;
	export let author;
	export let containerSize;
</script>

<style>
</style>

<div class="container">
	<Header {author} {containerSize} />
	<Main {containerSize} />
	<Footer {author} {containerSize} />
</div>